<div class="container-fluid home-box">
	<div class="row header ">
		<div class="col-md-12 header-bg">
			<div class="logo text-center">Loading Pipeline</div>
      	</div>
  	</div>
      <div class="row menu-home">
        <div class="col-md-12">
	        <ul class="list-inline ">
				<li><a href="{%  url 'load_home' %}" ><i class="fa fa-home"></i> Home</a></li>
				<!-- <li> <a href="{%  url 'load_status_all' %}" ><i class="fa fa-tasks"></i> TaskList</a></li>
				<li><a href="{% url 'load_status' %}" ><i class="fa fa-tag"></i> Current Task</a></li> -->
	        </ul>
		</div>
	</div>
